<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Практичні роботи</title>
    <link rel="stylesheet" href="../static/CSS/practices.css">
</head>
<body>
    <header>
        <h1>Практичні роботи</h1>
        <nav>
            <ul>
                <li><a href="index.html">Головна</a></li>
                <li><a href="about.html">Про мене</a></li>
                <li><a href="practices.html">Практичні роботи</a></li>
                <li><a href="labs.html">Лабораторні заняття</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <ul>
            <li><a href="#task1">Практична робота №1</a> - Основи HTML</li>
            <li><a href="#task2">Практична робота №2</a> - Основи CSS</li>
        </ul>
    </section>
</body>
</html>
